/* Created by Liang Sun <i@liangsun.org> in 2012 */
*{
    margin:0;
    padding:0;
    font-family:arial, sans-serif;
    text-decoration:none;
    font-size:17px;
    list-style-type:none;
}
#top{
    top:0px;
    position:absolute;
    background-color:#2d2d2d;
    height:30px;
    width:100%;
}
#top a{
    line-height:30px;
    color:white;
    text-decoration:none;
    font-size:14px;
}
#top li{
    margin:0 20px;
}
#main{
    width:800px;
    margin-top:12%;
    margin-left:auto;
    margin-right:auto;
}
#main-s{
    width:800px;
    margin-top:45px;
    margin-left:auto;
    margin-right:auto;
}

#logo{
    width:320px;
    height:160px;
    margin-left:auto;
    margin-right:auto;
}
#logo-s{
    width:80px;
    height:82px;
    float:left;
}
#form{
    width:520px;
    margin-left:auto;
    margin-right:auto;
}
.row{
    height:60px;
}
.row-s{
    margin-top:30px;
    padding-left:100px;
    width:800px;
    height:32px;
}
.label{
    width:100px;
}
#query{
    width:320px;
    padding-left:5px;
    height:30px;
}
#query-s{
    padding-left:5px;
    height:28px;
    width:200px;
}

#adv{
    display:none;
}
#price{
    width:240px;
    padding-left:5px;
    height:30px;
}
#price-s{
    height:28px;
    width:100px;
}

#ok{
    width:120px;
    height:32px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    /*padding-left:20px;
    padding-right:20px;
    */
}
#ok-s{
    margin-top:30px;
    margin-left:20px;
    width:80px;
    height:32px;
}
#result{
    border-top:1px solid #dedede;
    margin-top:20px;
    padding-top:10px;
    width:800px;
}
#items li{
    width:800px;
    height:77px;
    margin-top:20px;
}
.title a{
    text-decoration:underline;
    font-size:16px;
}
.url{
    color:#093;
}
.url, .price, .area, .arch, .address, .district{
    font-size:13px;
    margin-right:20px;
}

#bottom{
    height:100px;
}
.left{
    float:left;
}
.clear{
    clear:both;
}
