<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Liang Sun : i@liangsun.org">
        <meta name="keywords" content="竹方知,房屋租赁搜索引擎,租房子">
        <meta name="description" content="竹方知,房屋租赁搜索引擎">
        <link rel="stylesheet" type="text/css" href="static/b.css">
        <title>竹方知 - 房屋租赁搜索引擎</title>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35189809-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
     </head>
    <body>
        <div id="top">
            <ul>
                <li class="left">
                <a href="https://github.com/liangsun/ZhuFangZhi" target="_blank">View Source Code</a>
                </li>
                <li class="left">
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">License</a>
                </li>
                <li class="left">
                <a href="http://liangsun.org/about" target="_blank">About</a>
                </li>
                <li class="clear">
                </li>
            </ul>
        </div>
        <div id="main">
            <div id="bar">
                <div id="logo">
                    <a href="http://zhufangzhi.com">
                        <img src="static/icon.png" />
                    </a>
                </div>
                <form action="search" method="get">
                    <div class="row">
                        <label for="query">地点：</label>
                        <input type="text" name="query" value="{{ escape(query) }}" id="query" />
                        <label for="price">不高于</label>
                        <input type="text" name="price" value="{{ escape(price) }}" id="price" />
                        <label>元/月</label>
                        <input value="搜索" type="submit" id="ok" />
                    </div>
                </form>
            </div>

            <div id="result">
                <ul id="items">
                    {% if hit %}
                    {% for item in items %}
                    <li>
                    <div class="title">
                        <a href="{{ escape(item.url) }}">{{ escape(item.title)[:50] }}</a>
                    </div>
                    <div class="url">
                        {{ escape(item.url) }}
                    </div>
                    <div class="detail1">
                        <span class="price">价格:{{ escape(str(item.price)) }}元/月</span>
                        <span class="area">面积:{{ escape("%.2f" % (item.area/100.0)) }}平方米</span>
                        <span class="arch">房型:{{ escape(item.arch) }}</span>
                    </div>
                    <div class="detail2">
                        <span class="address">地址：{{ escape(item.address)[:30] }}</span>
                        <span class="district">小区：{{ escape(item.district)[:10] }}</span>
                    </div>
                    </li>
                    {% end %}
                    {% else %}
                    <li>
                    <div class="title">
                        没有搜索到相关结果。（竹方知目前支持中国大部分城市的租房信息，请过几天再试。）
                    </div>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
        <div id="bottom">
        </div>
    </body>
</html>
